@font-face {
    font-family: "Open_Sans";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Open_Sans";
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Open_Sans_Condensed";
    src: url("../fonts/Open_Sans_Condensed/OpenSansCondensed-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Open_Sans_Condensed";
    src: url("../fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}